<!DOCTYPE html>
{% extends 'testapp/base.html'%}
{% block body_bloack %}
  <div class="jumbotron">
    <div class="container">
      <h1  align = "center">Welcome to RAHUL EXAM portal...</h1><hr>
      <h2>Rules to take exam</h2>
      <ul>
        <li>Rule-1 : You need to login for taking the exam</li>
        <li>Rule-2 : For login, signup first</li>
        <li>Rule-3 : You'll not be allowed to leave the exam in-between</li>
        <li>Rule-4 : You can't move between different tabs</li>
        <li>Rule-4 : You should write only one exam per day</li>
      </ul>
    </div>

</div>

{% endblock %}
