<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IPL Team Home Page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/iplcss.css" %}">
    <link href="https://fonts.google.com/specimen/Bungee/" rel="stylesheet">

  </head>
  <body>
    <div class="container" align="center">
    <div class="jumbotron">
  <h1 class="display-4">WELCOME TO HOME PAGE OF IPL 2021</h1>
  <p class="lead">THE ONLY OFFICIAL WEBSITE OF IPL-2021</p>
  <hr class="my-4"><br><br><br><br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="add/" role="button">Click to add team info</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary btn-lg" href="display/" role="button">Click to display team details</a>

  </p>
</div>
  </body>
</html>
